:root{
    --mainColor:#606b56;
    --SecondaryColor:#515a48;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --BorderColor:#161914;

    --themeDotBorder:#fff;

    --previewBg:rgb(81,90,72,0.8);

    --previewshadow:#2a2f25;

    --buttonColor:#669966;
}
